
.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;
}

.nav-link{
  font-size: 1.1em !important;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}

.carousel-caption{
position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1{
  font-size: 4.5vw;
  text-shadow: 1px 1px 10px #222;
  color: whitesmoke;
}

.carousel-caption h3{
  font-size: 2vw;
  font-weight: 500;
  text-shadow: 1px 1px 20px black;
  color: whitesmoke;
}

@media only screen and (max-width: 1100px) {
  .carousel-caption{
   top:40%;
  }
}
.welcome{
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code{
  color: darkorange;
  font-size: 4em;
  margin: 1rem;
}

/* FOOTER */

footer{
  background-color: #222222;
  color: #999999;
  padding-top: 2rem;
}
footer hr{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin: .8rem auto 1rem;
}
footer a{
  color: #d5d5d5;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin: .8rem auto 1rem;
}




